/* Colors */
// region
// Primary Colors
$color-primary-darkest: #01080E;
$color-primary-dark: #011627;
$color-primary: #011221;

// Secondary Colors
$color-secondary-blue-gray: #607B96;
$color-secondary-teal: #3C9D93;
$color-secondary-blue: #4D5BCE;
$color-secondary-white: #FFFFFF;

// Accent Colors
$color-accent-orange: #FEA55F;
$color-accent-light-teal: #43D9AD;
$color-accent-salmon: #E99287;
$color-accent-lavender: #C98BDF;

// Default color
$color-default: #1C2B3A;

// Line Color
$color-line: #1E2D3D;

// Gradient Colors
$color-gradient-blue: #4D5BCE;
$color-gradient-teal: #43D9AD;
// endregion

/* Fonts */
//region
$font-title:62px;
$font-subtitle: 32px;
$font-body: 18px;
$font-label: 16px;
$font-code: 14px;
//endregion

/* Others */
// region
$border-radius: 0.5em;
// endregion

